<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Chart.js Example</title>
</head>
<body>
    <div style="height: 50vh; width: 50%;">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        const labels = JSON.parse('{{ labels | tojson | safe }}');
        const chartData = JSON.parse('{{ data | tojson | safe }}');

        const data = {
            labels: labels,
            datasets: [{
                label: 'Available Space',
                backgroundColor: ['rgb(255, 0, 0)', 'rgb(168, 168, 168)'],
                borderColor: 'rgb(255, 99, 132)',
                data: chartData,
            }]
        };

        const config = {
            type: 'doughnut',
            data: data,
            options: { maintainAspectRatio: false }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
</body>
</html>